#spells-container {
    .spell-card {
        .spell-main {
            display: grid;
            grid-template-columns: calc(70% - 20px) 5% 5% 5% 5% 5% 5%;
            gap: 0px;
            border: 2px solid black;
            border-radius: 10px;
            padding-left: 5px;
            background-color: rgb(171, 152, 100);
            align-items: center;
            justify-content: center;
            position: relative;

            .spell-main-sticky {
                position: sticky;
                top: 0px;
                background-color: white;
            }

            .spell-name {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            .spell-casting-time {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            .spell-school {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }

            .main-buttons {
                width: 30px;
                height: 30px;
                border: 2px black solid;
                border-radius: 50%;
                cursor: pointer;
                overflow: hidden;

                img {
                    transform: scale(2);
                }
            }

            .view-button-spell {
                grid-column: 4 / 5;
                grid-row: 1 / 2;
                background-color: grey;
                opacity: 0.3;
            }

            .prepared-spells {
                grid-column: 4 / 5;
                grid-row: 3 / 4;
                background-color: grey;
            }

            .favorite-spells {
                grid-column: 7 / 8;
                transform: translateX(-10px);
                grid-row: 3 / 4;
                background-color: grey;
            }

            .cast-spells {
                position: absolute;
                bottom: 5px;
                right: 5px;
                display: none;
                width: 60px;
                height: 60px;
                animation: borderAnimation 3s linear infinite;

                img {
                    position: relative;
                }
            }

            .spell-level {
                grid-column: 6 / 8;
                grid-row: 1 / 2;
                font-size: 24px;
                font-weight: 800;
                text-align: center;
                background-image: url('../images/Nivel.png');
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 5;
            }

            .favorite-spell {
                background-color: yellow;
            }

            .prepared-spell {
                background-color: rgb(152, 90, 124);
            }
        }
    }
}

#book-container #spells-container .spell-card.change-view-spell {
    background-color: red;

    .spell-main {
        .view-button-spell {
            background-color: white;
            opacity: 1;
        }

        .cast-spells {
            display: inline-block;
        }

        .spell-components {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }

        .spell-material-components {
            grid-column: 1 / 8;
            grid-row: 5 / 6;
        }

        .spell-duration {
            grid-column: 1 / 8;
            grid-row: 6 / 7;
        }

        .spell-range {
            grid-column: 1 / 8;
            grid-row: 7 / 8;
        }

        .spell-target {
            grid-column: 1 / 8;
            grid-row: 8 / 9;
            max-width: calc(100% - 60px);
        }

        .spell-effect {
            grid-column: 1 / 8;
            grid-row: 9 / 10;
            max-width: calc(100% - 60px);
        }

        .spell-area {
            grid-column: 1 / 8;
            grid-row: 10 / 11;
            max-width: calc(100% - 60px);
        }

        .spell-saving-throw {
            grid-column: 1 / 8;
            grid-row: 11 / 12;
            max-width: calc(100% - 60px);
        }

        .spell-resistance {
            grid-column: 1 / 8;
            grid-row: 12 / 13;
            max-width: calc(100% - 60px);
        }

        .spell-XPCost {
            grid-column: 1 / 8;
            grid-row: 13 / 14;
            max-width: calc(100% - 60px);
        }

        .spell-focus {
            grid-column: 1 / 8;
            grid-row: 14 / 15;
            max-width: calc(100% - 60px);
        }
    }

    .spell-box-description {
        margin-top: 10px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: rgb(171, 152, 100);
        text-shadow: 3px 0px 3px white;
        overflow: auto;
        table {
            border-collapse: collapse;
            width: 100%;
            font-size: 12px;
            th, td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
              }
        }
    }
}

// estilos correspondientes segun escuela de magia
#book-container #spells-container .spell-card.abjuration {
    background-color: rgba(0, 60, 255, 0.5);
}

#book-container #spells-container .spell-card.divination {
    background-color: rgba(211, 211, 211, 1);
}

#book-container #spells-container .spell-card.conjuration {
    background-color: rgba(0, 128, 0, 1);
}

#book-container #spells-container .spell-card.enchantment {
    background-color: rgba(255, 255, 0, 1);
}

#book-container #spells-container .spell-card.evocation {
    background-color: rgba(255, 0, 0, 0.5);
}

#book-container #spells-container .spell-card.illusion {
    background-color: rgba(128, 0, 128, 1);
}

#book-container #spells-container .spell-card.necromancy {
    background-color: rgb(54, 43, 55, 1);
}

#book-container #spells-container .spell-card.transmutation {
    background-color: rgba(255, 166, 0, 1);
}

/* Estilos del botón */
#book-container #spells-container .spell-card.change-view-spell .spell-main .cast-spells {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 255, 0.265);
    border-radius: 50%;
    padding: 15px;
}

/* Estilos de la imagen dentro del botón */
#book-container #spells-container .spell-card.change-view-spell .spell-main .cast-spells img {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Animación del borde en movimiento */
@keyframes borderAnimation {
    0% {
        border: 5px red solid;
        box-shadow: 0px 0px 20px rgb(255, 0, 43);
        transform: rotate(40deg);
    }

    25% {
        border: 12px black double;
        box-shadow: 0px 0px 20px rgb(21, 0, 255);
    }

    50% {
        border: 20px rgba(255, 255, 255, 0.364) double;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.471);
        transform: rotate(-80deg);
    }

    75% {
        border: 12px black double;
        box-shadow: 0px 0px 20px rgb(255, 0, 230);
    }

    100% {
        border: 5px rgb(255, 0, 0) double;
        box-shadow: 0px 0px 20px rgb(255, 0, 43);
        transform: rotate(39deg);
    }
}

#book-container #spells-container .spell-card .casted-spell {
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-animation: slidein2 10s, slidein-yellow 5s;
    animation: slidein2 10s, slidein-yellow 5s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    animation-direction: alternate;
    
}


// Animacion para box-shadow flourescente
@keyframes slidein-yellow {
    0% {
      box-shadow: 0px -2px 5px rgb(255, 70, 153), 2px -2px 5px red, 2px 2px 5px blue, -2px 2px 10px purple, -2px -2px 5px green;
    }
    25% {
        box-shadow: 2px -2px 10px rgb(20, 248, 153), 2px 2px 5px pink, -2px 2px 10px rgb(170, 97, 0), -2px -2px 5px purple, 0px -2px 10px green;
    }
    50% {
        box-shadow: 2px 2px 5px pink, -2px 2px 5px red, -2px -2px 5px rgb(24, 225, 131), 0px -2px 5px rgb(169, 92, 169), 2px -2px 10px green;
    }
    75% {
        box-shadow: -2px 2px 10px orange, -2px -2px 10px cadetblue, 0px -2px 10px blue, 2px -2px 5px purple, 2px 2px 5px green;
    }
    100% {
        box-shadow: -2px -2px 5px rgb(255, 174, 52), 0px -2px 5px red, 2px -2px 10px blue, 2px 2px 10px rgb(144, 0, 144), -2px 2px 5px green;
    }
  }


// Animacion para background image
@keyframes slidein2 {
    from {
        background-position: -50px -0px;
        background-size: 130%;
    }

    to {
        background-position: 0px -30px;
        background-size: 400px;
    }
}


.image-description {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    text-shadow: 1px 1px 4px white, 1px 1px 4px white, 1px 1px 4px white;
    font-family: 'Source Code Pro', monospace;
    overflow: auto;
    padding: 10px;
}